@import "../../assets/scss/resources";

.items-per-page {
  margin-bottom: 1rem;
}

.pagination-block {
  margin-bottom: 2rem;
}

.selected {
  width: 150px!important;

  @media screen and (max-width: $smWidth) {
    text-align: center;
    margin-top: 1rem!important;
  }
  @media screen and (max-width: $xsWidth) {
    text-align: center;
    margin-top: 1rem!important;
  }

}