/* fonts sizes*/
$xlMainFontSize: 18px;
$lgMainFontSize: 16px;
$mdMainFontSize: 15px;
$smMainFontSize: 14px;
$xsMainFontSize: 12px;

/* screen sizes */
$xlWidth: 1280px;
$lgWidth: 992px;
$mdWidth: 768px;
$smWidth: 480px;
$xsWidth: 320px;

/* fonts : */


/* fonts colors */


/* bg colors */
