@import "../../assets/scss/resources";

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.smallcard {
  min-width: 280px;
  border-radius: 0.5rem;
  box-shadow: rgba(255, 109, 158, 0.1) 0px 0px 6px 0px, rgba(255, 109, 158, 0.1) 0px 2px 12px 0px;
  background-color: #fff;
  margin: 10px;
  transition: all 0.4s ease-out !important;

  @media screen and (max-width: $lgWidth) {
    width: calc(50vw - 20px);
  }

  @media screen and (max-width: $mdWidth) {
    width: calc(50vw - 20px);
  }

  @media screen and (max-width: $smWidth) {
    font-size: 18px !important;
    width: calc(100vw - 10px);
  }

  @media screen and (max-width: $xsWidth) {
    font-size: 18px !important;
    width: calc(100vw - 10px);
  }

  &__header {
    min-height: 50px;
    background-color: #dddddd;
    border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &__link {
    color: #525252;
  }

  &__content {
    padding: 0 10px;
  }

  &__pokemon {
    margin: 10px 0;
    width: 100%;

    &-type {
      padding: 5px 10px;
      border-radius: 5px;
      color: white;
      font-weight: bold;
    }

    &-type:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

.smallcard:hover {
  transform: scale(1.03);
}

.bigcard {
  &__container {
    width: 100%;
    padding: 10px 40px;
  }
  &__title {
    margin-bottom: 2rem;
  }
  &__blocks {
    width: 100%;
    flex-wrap: wrap!important;
  }
  &__desc {
    min-width: 300px;
    max-width: 600px;
  }
  &__text {
    font-weight: 400;
    text-align: center;
  }
  &__avatar {
    min-width: 300px;
  }

}