@import "../../assets/scss/resources";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 1500;


  .modal {
    position: relative;
    z-index: 1999;
    margin: 70px auto;
    width: calc(100vw - 400px);
    height: calc(100vh - 150px);
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 6px 0px, rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
    overflow: auto;
    @media screen and (max-width: $mdWidth) {
      width: calc(100vw - 30px);
      height: calc(100vh - 150px);
    }
    @media screen and (max-width: $smWidth) {
      width: calc(100vw - 40px);
      max-height: 530px;
    }
    @media screen and (max-width: $xsWidth) {
      width: calc(100vw - 8px);
      max-height: 530px;
    }
  }
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  font-weight: bold;
  z-index: 9999;
  cursor: pointer;
  color: #000;
  @media screen and (max-width: $mdWidth) {
    top: 10px;
    right: 10px;
  }
  @media screen and (max-width: $smWidth) {
    top: 10px;
    right: 10px;
  }
  @media screen and (max-width: $xsWidth) {
    top: 10px;
    right: 10px;
  }
}