@import "../../assets/scss/resources";

header {
  min-height: 70px;
  background:
          radial-gradient(black 15%, transparent 16%) 0 0,
          radial-gradient(black 15%, transparent 16%) 8px 8px,
          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  @media screen and (max-width: $smWidth) {
    min-height: 60px;
  }
  @media screen and (max-width: $xsWidth) {
    min-height: 60px;
  }
}

.header {
  padding: 0.7rem 1rem 0 1rem;
  @media screen and (max-width: $smWidth) {
    //padding: 0.7rem 1rem 0 1rem;
  }
  @media screen and (max-width: $xsWidth) {
    //padding: 0.7rem 1rem 0 1rem;
  }
  &-text {
    margin: 0 auto;
    color: #fff;
  }
  &-icon {
    color: white;
    transition: transform 0.6s ease-in-out;
  }
  &-icon:hover {
    transform: scale(1.2);
  }
  &__brand {
    margin-left: 1rem;
    font-size: 26px;
    font-weight: 600;
    color: white;
  }
  &__menu {

  }
  &__link {
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    color: white;
    margin-left: 2rem;
  }
}