.form-element {
  &__password {
    position: relative;
    z-index: 1;
  }
}
.input-field {
  position: relative;
  z-index: 1;
  &__password {
  }
}

.form-error {
  width: 100%;
  font-size: 15px!important;
  line-height: 17px!important;
  padding: 0 5px!important;
  margin-bottom: 1rem;
}